application:
    id: c7a180e0-6a43-457d-95a8-97d907f4228b
    name: CoolFibs

    null: 0
    first: 1

    to: 5

logger: 
    continue: true
    level: info
    
    file_win: AppData/CoolFibs/logs/CoolFibs.log
    conf: AppData/CoolFibs/config/CoolFibsConfig.logger.config

    filters:
        - name: defualt
          type: module_name
          mode: exclude
          modules: [
            Application
          ]