---
### YAML syntax ###

filters:
  - name: appl
    type: module_name
    mode: include
    modules: [
        Application
    ]

  - name: prep
    type: module_name
    mode: include
    modules: [
        Prepair
    ]

  - name: work
    type: module_name
    mode: include 
    modules: [
        Working
    ]

savers:

  - name: application
    active: true
    level: debug
    max_line_size: -1
    filters: [appl]
    file_win: C:/Users/foxsh/AppData/Roaming/CoolFibs/logs/coolFibs.log.application
    continue: false

  - name: working
    active: true
    level: debug
    max_line_size: -1
    filters: [work]
    file_win: C:/Users/foxsh/AppData/Roaming/CoolFibs/logs/coolFibs.log.working
    continue: false

  - name: prepair
    active: true
    level: info
    max_line_size: -1
    filters: [prep]
    file_win: C:/Users/foxsh/AppData/Roaming/CoolFibs/logs/coolFibs.log.preparing
    continue: false

...